*{
    margin: 0;
    font-family: sans-serif;
}

body{
    background: linear-gradient(to top, #c7d7ff, #f3d6ff);
    height: 100vh;
}

nav{
    position: fixed;
    z-index: 99;
    width: 100%;
    background-color: #FFF; /* Color de fondo del menú */
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li{
    display: inline-block;
}

a{
    text-decoration: none;
    color: #000;
    display: block;
    padding: 10px;
}

a:hover{
    background-color: #ddd; /* Color de fondo cuando se pasa el cursor sobre el elemento */
    color: black; /* Color del texto cuando se pasa el cursor sobre el elemento */
}

.card-container{
    height: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.horizontal-card{
    margin: 2rem;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.horizontal-card input[type="text"],
.horizontal-card select{
    border: 1px solid #8f8f9d;
    border-radius: 4px;
    margin: 0.5rem 0px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

.horizontal-card input[type="submit"]{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid #fdfdfd;
    background-color: #ff4136;
}

.horizontal-card img{
    width: 100%;
    object-fit: cover;
    border-radius: 8px 0px 0px 8px;
}

.card-content {
    padding: 10px;
}
.card-content h3 {
    font-size: 24px;
    padding-top: 10px;
    text-align: center;
}

hr{
    width: 100%;
    margin: 10px 0px;
}

span{
    font-size: 14px;
    width: 100%;
}