*{
    font-family: sans-serif;
    font-size: 14px;
}

html{
    height: 100%;
}

.main{
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    width: 100%;
    justify-content: center;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(to bottom right, #9db9ff, #c495ff);
    background-attachment: fixed;
    background-size: 100% 100%;
}

h1{
    font-size: 22px;
    margin: 10px;
    text-align: center;
}

hr{
    width: 100%;
    color: #c2c5d6;
    margin-bottom: 22px;
}

.container{
    max-width: 400px;
    padding: 20px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;
    /*align-items: center;*/
    /*box-shadow: 0px 0px 5px #8c8c8c;*/
    margin: 5px;
}

.inputs{
    margin: 4px 0px;
    width: 100%;
}

.buttons{
    margin: 8px 0px;
    width: 100%;
    text-align: center;
}

input:focus,
input:hover{
    outline: none;
    border-color: blue !important;
    background-color: #f2f2f2 !important;
}

input[type="button"]:hover{
    background-color: #ceccee !important;
}

input:valid {
    background-color: #f2f2f2 !important;
}

input[type="text"], 
input[type="password"],
input[type="email"],
input[type="date"]{
    background-color: #e9e9ed;
    width: 100%;
    border: none;
    margin: 6px 0px;
    padding: 10px;
    box-sizing: border-box;
}

.pass{
    padding-right: 40px !important;
}

img:hover{
    cursor: pointer;
}

input[type="button"]{
    border: none;
    padding: 10px;
    width: 100%;
    margin-bottom: 18px;
    border-radius: 20px;
}

input{
    border-radius: 4px;
    border: 1px solid #aeaeae !important;
}

.password-container{
    position: relative;
    display: flex;
    align-items: center;
}

.view-btn{
    width: 6%;
    height: auto;
    position: absolute;
    right: 10px;
    margin: auto;
}

a{
    text-decoration: none;
    color: #ff3030;;
}

.double{
    display: flex;
}

.left{
    margin-right: 5px;
}

.right{
    margin-left: 5px;
}

.message{
    text-align: center;
    margin-top: -12px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ff8e8e;
    border: 1px solid #f55;
    border-radius: 4px;
}