nav {
    background-color: #333; /* Color de fondo del menú */
}
nav ul {
    list-style: none; /* Quitar los puntos de la lista */
    margin: 0; /* Quitar el margen */
    padding: 0; /* Quitar el padding */
}
nav li {
    display: inline-block; /* Para que los elementos se muestren en línea */
}
nav a {
    display: block; /* Para que los elementos ocupen todo el ancho del li */
    color: white; /* Color del texto del menú */
    text-align: center; /* Para centrar el texto */
    padding: 14px 16px; /* Espacio entre el texto y el borde del elemento */
    text-decoration: none; /* Sin subrayado en los enlaces */
}
nav a:hover {
    background-color: #ddd; /* Color de fondo cuando se pasa el cursor sobre el elemento */
    color: black; /* Color del texto cuando se pasa el cursor sobre el elemento */
}

/**/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }

  li:last-child {
    float: right;
  }

  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }