*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to top right, #bfdbfe, #c7d2fe, #fbcfe8);
    /* height: 100%; */
    width: 100%;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
}

.menu{
    position: sticky;
    background-color: white;
    /* background-color: #262626; */
    /* text-transform: uppercase; */
    padding: .5rem 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    z-index: 99;
    top: 0;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
    margin: 0 .5rem;
}

nav a{
    display:flex;
    align-items: center;
    gap: 10px;
    padding: .5rem 1rem;
    text-decoration: none;
    color: #333;
    text-align: center;
}

nav a,
nav li{
    /* border-radius: 5px; */
    border-radius: 1rem;
}

nav a:not(.selected):hover{
    background-color:#ddd;
    cursor:pointer;
    /* box-shadow: 0 2px 0px rgba(0, 0, 0, 0.15); */
    color: black;
}

.icon-user{
    background-color:black;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    gap: 5px
}

.selected{
    color: #4169E1;
    background-color: hsl(225deg 73% 57% / 20%);
}
.selected svg{
    color: #4169E1 !important;
}

.hamburger-menu{
    display: none;
}

.modal-menu{
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    align-items: flex-start;
    justify-content: space-around;
}

.modal-menu ul{
    width: 80%;
    flex-direction: column;
    list-style: none;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    box-sizing: border-box;
    max-width: 400px;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.2);
    margin-top: 80px;
}

.modal-menu li{
    border-radius: 10px;
    /* padding: 1rem 0; */
    margin: .5rem 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.modal-menu a{
    padding: 1rem .5rem;
    align-items: center;
    text-decoration: none;
    color: #333;
    display: flex;
    width: 100%;
    gap: 7px;
    /* max-width: 100px; */
    flex-direction: column;
    /* border-radius: 1rem; */
}

.modal-menu li:hover{
    background-color:#ddd;
}

.container{
    height: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    /* max-width: 1200px; */
    width: 100%;
}

.table-container{
    font-family: Mukta, sans-serif;
    display: flex;
    font-size: 0.9rem;
    /* justify-content: space-around; */
    flex-direction: column;
    margin: 2rem 1rem;
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    padding: .5rem;
    border-radius: 5px;
    height: calc(100vh - 140px);
    width: 100%;
    box-sizing: border-box;
}

.table-container header{
    box-shadow: none;
}

.filter-container{
    margin: .7rem 0;
    display: grid;
    gap: .5rem;
    grid-template-columns:  1fr;
    /* padding: 8px 12px; */
}

@media (min-width: 520px) {
    .filter-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 777px){
    .filter-container{
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
}

.filter-container input,
.filter-container select {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #333;
    background: white;
}

.filter-container input:hover,
.filter-container select:hover{
    border: 1px solid #6fb6ff;
}

.table-overflow{
    width: 100%;
    overflow-x: auto;
    border-radius: 5px;
}

/* .table-container table tr th:first-child{ 
    border-top-left-radius: 10px; 
}
.table-container table tr th:last-child{ 
    border-top-right-radius: 10px;
}
.table-container table tr td:first-child{ 
    border-bottom-left-radius: 10px;
}
.table-container table tr td:last-child{ 
    border-bottom-right-radius: 10px;
} */


.filter-btn-container button {
    cursor: pointer;
    border-radius: 3px;
    border: none;
    background: #4682B4;
    white-space: nowrap;
    padding: 9px 0;
    width: 45%;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.filter-btn-container button[type="reset"]{
    background-color: #778899;
}

.table-container table{
    border-collapse: collapse;
    /* box-shadow:  0 5px 10px #e1e5ee; */
    /* max-width: 80%; */
    width: 100%;
}
.table-container table thead{
    box-shadow:  0 5px 10px #e1e5ee;
    background-color: #007bff;
    position: sticky;
    top: 0;
}
.table-container table thead th{
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: .8rem;
    font-weight: 900;
    /* color: #323544; */
    color: white;
}
.table-container table tbody {
    /* background-color: #f9fbff; */
    text-align: center;
    color: #3f4356;
}
.table-container table tbody tr:nth-child(even){
    background-color: #f4f6fb;
}
.table-container table tbody td{
    padding: 1rem 2rem;
    white-space: nowrap;
}
.table-container table tbody button{
    background-color: #007bff;
    border: none;
    color: white;
    padding: 6px 16px;
    text-align: center;
    border-radius: 3px;
    font-size: 14px;
}

.status{
    border-radius: 3px;
    background-color: red;
    padding: 6px 16px;
    text-align: center;
}
.available{
    background-color: #c8e6c9;
    color: #388e3c;
}
.unavailable{
    background-color: #fff0c2;
    color: #a68b00;
}
.deleted{
    background-color: #ffcdd2;
    color: #c62828;
}

.table-container footer{
    margin-top: auto;
}

.table-container footer button{
    cursor: pointer;
    border-radius: 3px;
    border: none;
    /* background: #4682B4; */
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    padding: 9px 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.table-container .change-button{
    float: right;
    margin-left: .5rem;
    /* fallback for old browsers */
    /* background: #cc2b5e;   */
    background: #ff9999;
}

.table-container footer .active{
    background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
}

@media only screen and (max-height: 800px) {
    .table-container{
        height: 100vh;
    }
}

@media only screen and (max-width: 925px) {
    nav a{
        flex-direction: column;
        max-width: 100px;
    }
    #exit{
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 680px) {
    .hamburger-menu{
        display: flex;
    }
    nav ul{
        display: none;

    }
    #exit,
    nav a{
        flex-direction: row;
    }
}