*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to top right, #bfdbfe, #c7d2fe, #fbcfe8);
    /* height: 100%; */
    width: 100%;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
}

header{
    position: sticky;
    background-color: white;
    /* background-color: #262626; */
    /* text-transform: uppercase; */
    padding: .5rem 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    z-index: 99;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
    margin: 0 .5rem;
}

nav a{
    display:flex;
    align-items: center;
    gap: 10px;
    padding: .5rem 1rem;
    text-decoration: none;
    color: #333;
    text-align: center;
}

nav a,
nav li{
    /* border-radius: 5px; */
    border-radius: 1rem;
}

nav a:not(.selected):hover{
    background-color:#ddd;
    cursor:pointer;
    /* box-shadow: 0 2px 0px rgba(0, 0, 0, 0.15); */
    color: black;
}

.icon-user{
    background-color:black;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    gap: 5px
}

.selected{
    color: #4169E1;
    background-color: hsl(225deg 73% 57% / 20%);
}
.selected svg{
    color: #4169E1 !important;
}

.hamburger-menu{
    display: none;
}

@media only screen and (max-width: 925px) {
    nav a{
        flex-direction: column;
        max-width: 100px;
    }
    #exit{
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 680px) {
    .hamburger-menu{
        display: flex;
    }
    nav ul{
        display: none;

    }
    #exit,
    nav a{
        flex-direction: row;
    }
}

.modal-menu{
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    align-items: flex-start;
    justify-content: space-around;
}

.modal-menu ul{
    width: 80%;
    flex-direction: column;
    list-style: none;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    box-sizing: border-box;
    max-width: 400px;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.2);
    margin-top: 80px;
}

.modal-menu li{
    border-radius: 10px;
    /* padding: 1rem 0; */
    margin: .5rem 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.modal-menu a{
    padding: 1rem .5rem;
    align-items: center;
    text-decoration: none;
    color: #333;
    display: flex;
    width: 100%;
    gap: 7px;
    /* max-width: 100px; */
    flex-direction: column;
    /* border-radius: 1rem; */
}

.modal-menu li:hover{
    background-color:#ddd;
}




.table-container{
    font-family: Mukta, sans-serif;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    color: #4f546c;
    font-size: 0.9rem;
    /* background-color: #f9fbff; */
}

/* .table-container table tr th:first-child{ 
    border-top-left-radius: 10px; 
}
.table-container table tr th:last-child{ 
    border-top-right-radius: 10px;
}
.table-container table tr td:first-child{ 
    border-bottom-left-radius: 10px;
}
.table-container table tr td:last-child{ 
    border-bottom-right-radius: 10px;
} */

.table-container table{
    border-collapse: collapse;
    /* box-shadow:  0 5px 10px #e1e5ee; */
}
.table-container table thead{
    box-shadow:  0 5px 10px #e1e5ee;
    background-color: #007bff;
}
.table-container table thead th{
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: .7rem;
    font-weight: 900;
}
.table-container table tbody {
    /* background-color: #f4f4f4; */
    background-color: #f9fbff
}
.table-container table tbody tr:nth-child(even){
    background-color: #f4f6fb;
}
.table-container table tbody td{
    padding: 1rem 2rem;
}
.table-container table tbody button{
    background-color: #007bff;
    border: none;
    color: white;
    padding: 6px 16px;
    text-align: center;
    border-radius: 5px;
}
.status{
    border-radius: 3px;
    background-color: red;
    padding: .2rem 1rem;
    text-align: center;
}
.available{
    background-color: #c8e6c9;
    color: #388e3c;
}
.unavailable{
    background-color: #fff0c2;
    color: #a68b00;
}
.deleted{
    background-color: #ffcdd2;
    color: #c62828;
}

